<!doctype html>
<html>
	<head>
    <title><%= current_page.data.title %></title>
    <meta name="description" content="<%= current_page.data.description %>">
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="google-site-verification" content="1yJwtZmUEW1QsrrIvRrXiBHA4O1yBmKeJBxP3txMgrI" />
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "site" %>
    <noscript><%= stylesheet_link_tag "noscript" %></noscript>
    <link rel="amphtml" href="<%= current_page.data.canonicalLink %>">
  </head>
  <% bodyClass = current_page.data.bodyClass %>
  <body<%=  bodyClass ? " class=\"#{bodyClass}\"" : "" %>>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "name": "<%= current_page.data.title %>",
        "description": "<%= current_page.data.description %>",
        "publisher": {
            "@type": "ProfilePage",
            "name": "Weiyuan Liu's website"
        },
        "sameAs": [
          "https://www.linkedin.com/in/liuweiyuan",
          "https://github.com/Weiyuan-Lane",
          "https://medium.com/@weiyuan.liu"
        ]
    }
    </script>
    <%= yield %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138723882-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-138723882-1');
    </script>
  </body>
</html>
