<% domain = 'https://weiyuan-lane.github.io' %>
<!doctype html>
<html lang="en">
  <head>
    <title><%= current_page.data.title %></title>
    <meta name="description" content="<%= current_page.data.description %>">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="1yJwtZmUEW1QsrrIvRrXiBHA4O1yBmKeJBxP3txMgrI" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="<%= domain %>/" />
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:description" content="<%= current_page.data.description %>" />
    <meta property="og:image" content="<%= domain %>/images/avatar.jpg" />
    <meta name="theme-color" content="#98d9c3" />
    <%= favicon_tag 'favicon.ico' %>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://www.google-analytics.com/" crossorigin>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?display=swap&family=Source+Sans+Pro:300", rel: "preload", as: "style", onload: "this.rel='stylesheet'" %>
    <noscript><%= stylesheet_link_tag "noscript" %></noscript>
    <link rel="amphtml" href="<%= current_page.data.canonicalLink %>">
    <link rel="manifest" href="/pwa/manifest.json">
  </head>
  <% bodyClass = current_page.data.bodyClass %>
  <body<%=  bodyClass ? " class=\"#{bodyClass}\"" : "" %>>
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebPage","name":"<%= current_page.data.title %>","description":"<%= current_page.data.description %>","publisher":{"@type":"ProfilePage","name":"Weiyuan Liu's website"},"sameAs":["https://www.linkedin.com/in/liuweiyuan","https://github.com/Weiyuan-Lane","https://medium.com/@weiyuan.liu"]}</script>
    <%= yield %>
    <script defer async src="https://www.googletagmanager.com/gtag/js?id=UA-138723882-1"></script>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-138723882-1');

          navigator.serviceWorker.register('/sw.js', { scope: '/' }).then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });

          navigator.serviceWorker.ready.then(function(registration) {
            console.log('Service Worker Ready');
          });
        });
      }
    </script>
  </body>
</html>
