<% amp ||= false %>
<% if amp %>
  <nav class="navbar">
    <ul>
      <li><%= link_to 'More', '/articles' %></li>
    </ul>
  </nav>
<% else %>
  <% data.medium.items.each do |blogpost| %>
  <% pubTime = Time.parse(blogpost.pubDate) %>
  <section class="section-article">
    <div class="article-title">
      <% link_to blogpost.link do %>
      <span><%= blogpost.title %></span>
      <% end %>
    </div>
    <% link_to blogpost.link, class: 'article-thumbnail' do %>
    <%= image_tag blogpost.thumbnail %>
    <% end %>
    <div class="article-footer">
      <span class="article-pubdate"><i class="fa fa-clock-o">&nbsp;</i><%= pubTime.strftime("%B %d, %Y") %></span>
    </div>
  </section>
  <% end %>
  <%= partial "partials/navbar", locals: { activeComponent: 'articles' } %>
<% end %>