<% activeComponent ||= '' %>
<nav class="navbar">
  <ul>
    <li<%= activeComponent == 'intro' ? ' class="active"' : '' %>><%= link_to 'Intro', '/' %></li>
    <li<%= activeComponent == 'articles' ? ' class="active"' : '' %>><%= link_to 'Blog', 'https://weiyuan-liu.medium.com/' %></li>
    <li<%= activeComponent == 'mentor' ? ' class="active"' : '' %>><%= link_to 'Mentor', '/mentor/' %></li>
    <li<%= activeComponent == 'talks' ? ' class="active"' : '' %>><%= link_to 'Talks', '/talks/' %></li>
  </ul>
</nav>