<% amp ||= false %>
<% if amp %>
  <nav class="navbar">
    <ul>
      <li><%= link_to 'More', '/talks/' %></li>
    </ul>
  </nav>
<% else %>
  <% data.talks.cycles.each do |cycle| %>
    <% if cycle.items.size > 0 %>
    <section class="section-body">
      <h1>🗓️ <%= cycle.title %></h1>
      <hr>
      <% cycle.items.each do |talk| %>
        <%= talk.date %>
        <ul class="fa-ul">
          <li>
            <h2><%= talk.title %></h2>
            <%= talk.eventName %>
            <% if talk.social && talk.social.size > 0 %>
              <br><br>
              <% talk.social.each do |social| %>
                <% if social.type == 'video' %>
                  <a href="<%= social.link %>" class="button" target="_blank"><i class="fa fa-play-circle"></i> Video</a>
                <% elsif social.type == 'slides' %>
                  <a href="<%= social.link %>" class="button" target="_blank"><i class="fa fa-file-powerpoint-o"></i> Slides</a>
                <% elsif social.type == 'photos' %>
                  <a href="<%= social.link %>" class="button" target="_blank"><i class="fa fa-camera"></i> Photos</a>
                <% elsif social.type == 'event' %>
                  <a href="<%= social.link %>" class="button" target="_blank"><i class="fa fa-link"></i> Event</a>
                <% end %>
              <% end %>
            <% end %>
          </li>
        </ul>
        <hr>
      <% end %>
    </section>
    <% end %>
  <% end%>
  <%= partial "partials/navbar", locals: { activeComponent: 'talks' } %>
<% end %>